criador_de_inbox_uno.json
{
  "name": "criador_de_inbox_uno",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow Para Criar Inbox\n**Aqui você configura a comunicação entre o chatwoot e a Uno API para criar novas instâncias a partir do chatwoot**\n**Instruções**\n**No node Info Base, configure as variáveis de seu Chatwoot e Uno API**",
        "width": 1129.7777777777778,
        "color": 4
      },
      "id": "d9dbec24-7fc5-44fb-8023-3a9cc628e65a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "abc42ee6-c2ac-4b8e-bd7c-3bdfd6bf6fad",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Phone number has already been taken",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b987bf04-41a9-4d85-babc-341ebe9ca24e",
      "name": "Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "872eccfe-53ce-488d-a4b5-1883b94144a0",
              "leftValue": "={{ $json.payload.contact.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "708d7c85-4d11-44a6-b3c0-b2fb61cbf335",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/{{ $('Info Base').item.json[\"chatwoot_account_id\"] }}/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"chatwoot_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"inbox_id\": {{ $('Cria Inbox').item.json[\"id\"] }},\n    \"name\": \"Inbox-{{ $('Info Base').item.json[\"instance_name\"] }}-{{ $('Info Base').item.json[\"phone_number\"] }} \",\n    \"phone_number\": \"+{{ $('Info Base').item.json[\"phone_number\"] }}\",\n    \"avatar_url\": \"{{ $('Info Base').item.json[\"logo\"] }}\"\n}",
        "options": {}
      },
      "id": "e84f0bf5-8217-44ba-96aa-a4f33b0a9ef5",
      "name": "Cria Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1180,
        680
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/{{ $('Info Base').item.json[\"chatwoot_account_id\"] }}/inboxes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"chatwoot_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"name\": \"{{ $('Info Base').item.json[\"instance_name\"] }}\",\n    \"channel\": {\n    \"type\": \"whatsapp\",\n    \"phone_number\": \"+{{$('Info Base').item.json[\"phone_number\"]}}\",\n    \"provider\": \"whatsapp_cloud\",\n    \"provider_config\":  { \n    \"url\": \"{{ $('Info Base').item.json[\"uno_url\"] }}\",\n    \"api_key\": \"{{ $('Info Base').item.json[\"unoapi_auth_token\"]}}\",\n    \"phone_number_id\": \"{{$('Info Base').item.json[\"phone_number\"]}}\",        \n    \"business_account_id\": \"{{$('Info Base').item.json[\"phone_number\"]}}\"\n\n} \n}\n}",
        "options": {}
      },
      "id": "483cd80d-9251-45ff-a55c-3a237a721120",
      "name": "Cria Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        680
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/{{ $('Info Base').item.json[\"chatwoot_account_id\"] }}/conversations/{{ $('Info Base').item.json[\"conversation_id\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"chatwoot_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"content\": \"✅ Caixa de entrada,**{{ $('Info Base').item.json[\"instance_name\"] }}** criada com suceso.\\n✅ Contato,**Inbox-{{ $('Info Base').item.json[\"instance_name\"] }}-{{ $('Info Base').item.json[\"phone_number\"] }}** criado com suceso.\",\n\"message_type\": \"outgoing\",\n\"private\": false\n}",
        "options": {}
      },
      "id": "d8988acc-2a30-47bb-b9a3-251c8c88cf48",
      "name": "Notificacao_Sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1820,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/{{ $('Info Base').item.json[\"chatwoot_account_id\"] }}/conversations/{{ $('Info Base').item.json[\"conversation_id\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"chatwoot_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"content\": \"❌ Erro ao criar a caixa e entrada: **{{ $('Info Base').item.json[\"instance_name\"] }}**\\n\\n**Atenção: O número {{ $('Info Base').item.json[\"phone_number\"] }} já está sendo usado em uma caixa de entrada. Por favor, tente novamente.**\",\n\"message_type\": \"outgoing\",\n\"private\": false\n}",
        "options": {}
      },
      "id": "de84f7ed-f68a-479a-8c0c-bfdc1aa393da",
      "name": "Notificacao_Erro1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info Base').item.json[\"chatwoot_url\"] }}/api/v1/accounts/{{ $('Info Base').item.json[\"chatwoot_account_id\"] }}/conversations/{{ $('Info Base').item.json[\"conversation_id\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Info Base').item.json[\"chatwoot_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"content\": \"✅ Caixa de entrada,**{{ $('Info Base').item.json[\"instance_name\"] }}** criada com suceso.\\n\\n❌ Erro ao criar o contato: **Inbox-{{ $('Info Base').item.json[\"instance_name\"] }}-{{ $('Info Base').item.json[\"phone_number\"] }}**\\n\\n**Atenção: Este número {{ $('Info Base').item.json[\"phone_number\"] }} já está registrado como contato, edite ele com o prefixo Inbox-{{ $('Info Base').item.json[\"instance_name\"] }}- para facilitar a sua localização ao gerar Qrcodes.**\",\n\"message_type\": \"outgoing\",\n\"private\": false\n}",
        "options": {}
      },
      "id": "0320a9bc-9aa7-4f23-a4dc-9a561b2c7e2a",
      "name": "Notificacao_Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1820,
        780
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatwoot_url",
              "value": "=CHATWOOT_URL"
            },
            {
              "name": "uno_url",
              "value": "UNO_URL"
            },
            {
              "name": "unoapi_auth_token",
              "value": "UNOAPI_AUTH_TOKEN"
            },
            {
              "name": "organization",
              "value": "={{ $json.query.organization }}"
            },
            {
              "name": "instance_name",
              "value": "={{ $json.body.messages[0].content.split(':')[1] }}"
            },
            {
              "name": "chatwoot_token",
              "value": "={{ $json.query.utoken }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $json.body.messages[0].content.split(':')[2] }}"
            },
            {
              "name": "logo",
              "value": "ORGANIZATION_LOGO"
            }
          ],
          "number": [
            {
              "name": "chatwoot_account_id",
              "value": "={{ $json.body.messages[0].account_id }}"
            },
            {
              "name": "=conversation_id",
              "value": "={{ $json.body.messages[0].conversation_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55ad5142-c530-45d1-9d28-d3be816c9854",
      "name": "Info Base",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        680
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox_whatsapp",
        "options": {}
      },
      "id": "e9f2a5ec-e547-4e94-bdb9-f105d366dffc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        680
      ],
      "webhookId": "761362a3-5c4d-4fdd-98ba-84c9ad17f4ff"
    }
  ],
  "pinData": {},
  "connections": {
    "Erro?": {
      "main": [
        [
          {
            "node": "Notificacao_Erro1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "node": "Notificacao_Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificacao_Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Contato": {
      "main": [
        [
          {
            "node": "Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Inbox": {
      "main": [
        [
          {
            "node": "Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Base": {
      "main": [
        [
          {
            "node": "Cria Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Info Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00aebcf1-b123-4e3f-9e0f-f8205ef59ab5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b95399774c2847bb6f587b2e4601b266ba6802f1c4c414b70534ae738a677bfb"
  },
  "id": "i82WSFD0LZOOcSyk",
  "tags": []
}
